.background-grid {
  opacity: 0.8;
  background-image: linear-gradient(
      rgba(230, 230, 230, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(230, 230, 230, 0.3) 1px, transparent 0px);
  background-size: 8rem 8rem;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
